<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.goncalossilva.androidsdkreferencesearch</string>
	<key>connections</key>
	<dict>
		<key>401C89BC-46B5-4B11-B6C4-04899FD62732</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B856B9DC-4ACC-4B8E-ACE1-E3740957135A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>588006A5-2F53-4CBE-8367-B5A853DC80DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6C3063A-0D6A-4535-82F3-B48968CCAC81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gonçalo Silva</string>
	<key>description</key>
	<string>View source links for the Android SDK class and XML references</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Android SDK Reference Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ad</string>
				<key>subtext</key>
				<string>https://developer.android.com/index.html</string>
				<key>text</key>
				<string>Android SDK Reference Search</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>588006A5-2F53-4CBE-8367-B5A853DC80DD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>ad</string>
				<key>runningsubtext</key>
				<string>Loading Android SDK reference data…</string>
				<key>script</key>
				<string>ruby reference_search.rb "{query}"</string>
				<key>title</key>
				<string>Search Android SDK docs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>401C89BC-46B5-4B11-B6C4-04899FD62732</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://developer.android.com/index.html</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C6C3063A-0D6A-4535-82F3-B48968CCAC81</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B856B9DC-4ACC-4B8E-ACE1-E3740957135A</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>401C89BC-46B5-4B11-B6C4-04899FD62732</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>588006A5-2F53-4CBE-8367-B5A853DC80DD</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>B856B9DC-4ACC-4B8E-ACE1-E3740957135A</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>C6C3063A-0D6A-4535-82F3-B48968CCAC81</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://twitter.com/goncalossilva</string>
</dict>
</plist>
